#wowslider-container1 {
    display: table;
    zoom: 1;
    position: relative;
    width: 100%;
    margin: 15px auto 60px;
    z-index: 90;
    text-align: left; /* reset align=center */
    font-size: 10px;
    text-shadow: none; /* fix some user styles */

    /* reset box-sizing (to boostrap friendly) */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#wowslider-container1 .ws_images ul {
    position: relative;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    overflow: visible;
    /*table-layout:fixed;*/
}

#wowslider-container1 .ws_images ul li {
    position: relative;
    line-height: 0; /*opera*/
    overflow: hidden;
    float: left;
    /*font-size:0;*/
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

#wowslider-container1 .ws_images {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    vertical-align: top;
    border: none;
    overflow: hidden;
}

#wowslider-container1 .ws_images ul a {
    width: 100%;
    height: 100%;
    display: block;
    color: transparent;
}

#wowslider-container1 img {
    max-width: none !important;
}

#wowslider-container1 .ws_images .ws_list img,
#wowslider-container1 .ws_images > div > img {
    width: 100%;
    border: none 0;
    max-width: none;
    padding: 0;
    margin: 0;
}

#wowslider-container1 .ws_images iframe {
    position: absolute;
    z-index: -1;
}

#wowslider-container1 .ws-title > div {
    display: inline-block !important;
}

#wowslider-container1 a {
    text-decoration: none;
    outline: none;
    border: none;
}

#wowslider-container1 .ws_bullets {
    float: left;
    position: absolute;
    z-index: 70;
}

#wowslider-container1 .ws_bullets div {
    position: relative;
    float: left;
    font-size: 0px;
}

/* compatibility with Joomla styles */
#wowslider-container1 .ws_bullets a {
    line-height: 0;
}

#wowslider-container1 .ws_script {
    display: none;
}

#wowslider-container1 sound,
#wowslider-container1 object {
    position: absolute;
}

/* prevent some of users reset styles */
#wowslider-container1 .ws_effect {
    position: static;
    width: 100%;
    height: 100%;
}

#wowslider-container1 .ws_photoItem {
    border: 2em solid #fff;
    margin-left: -2em;
    margin-top: -2em;
}

#wowslider-container1 .ws_cube_side {
    background: #A6A5A9;
}

/*#wowslider-container1.ws_gestures {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}*/

#wowslider-container1.ws_gestures.ws_grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
#wowslider-container1.ws_video_playing .ws_bullets,
#wowslider-container1.ws_video_playing .ws_fullscreen,
#wowslider-container1.ws_video_playing .ws_next,
#wowslider-container1.ws_video_playing .ws_prev {
    display: none;
}

/* youtube/vimeo buttons */
#wowslider-container1 .ws_video_btn {
    position: absolute;
    display: none;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 55;
}

/*#wowslider-container1 .ws_bullets {
    padding: 10px;
}

#wowslider-container1 .ws_bullets a {
    margin-left: 4px;
    width: 8px;
    height: 8px;
    background: url(bullet.png) left top;
    float: left;
    text-indent: -4000px;
    position: relative;
    color: transparent;
}*/

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 1px solid #fff;
}

.active, .dot:hover {
    background-color: #fff;
}

#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover {
    background-position: right top;
}

#wowslider-container1 a.ws_prev, #wowslider-container1 a.ws_next {
    position: absolute;
    width: auto;
    padding: 14px;
    color: black;
    background-color: hsla(0, 0%, 100%, .98);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
#wowslider-container1 a.ws_next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#wowslider-container1 a.ws_prev:hover, #wowslider-container1 a.ws_next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0s;
}

#wowslider-container1 .ws_bullets {
    bottom: -15px;
    left: 50%;
}

#wowslider-container1 .ws_bullets div {
    left: -50%;
}

#wowslider-container1 .ws-title {
    position: absolute;
    font: 1.8em Arial, Helvetica, sans-serif;
    bottom: 8%;
    left: 0;
    margin-right: 0.5em;
    z-index: 50;
    color: #000000;
    text-transform: uppercase;
    line-height: 1em;
}

#wowslider-container1 .ws-title div, #wowslider-container1 .ws-title span {
    display: inline-block;
    padding: 0.5em;
    background: #F9FBFB;
    -moz-border-radius: 0 0.5em 0.5em 0;
    -webkit-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 0.5em 0.5em 0;
}

#wowslider-container1 .ws-title div {
    display: block;
    margin-top: 0.5em;
    font-size: 0.72em;
    text-transform: none;
}

#wowslider-container1 .ws_images > ul {
    animation: wsBasic 16s infinite;
    -moz-animation: wsBasic 16s infinite;
    -webkit-animation: wsBasic 16s infinite;
}

@keyframes wsBasic {
    0% {
        left: -0%
    }
    12.5% {
        left: -0%
    }
    25% {
        left: -100%
    }
    37.5% {
        left: -100%
    }
    50% {
        left: -200%
    }
    62.5% {
        left: -200%
    }
    75% {
        left: -300%
    }
    87.5% {
        left: -300%
    }
}

@-moz-keyframes wsBasic {
    0% {
        left: -0%
    }
    12.5% {
        left: -0%
    }
    25% {
        left: -100%
    }
    37.5% {
        left: -100%
    }
    50% {
        left: -200%
    }
    62.5% {
        left: -200%
    }
    75% {
        left: -300%
    }
    87.5% {
        left: -300%
    }
}

@-webkit-keyframes wsBasic {
    0% {
        left: -0%
    }
    12.5% {
        left: -0%
    }
    25% {
        left: -100%
    }
    37.5% {
        left: -100%
    }
    50% {
        left: -200%
    }
    62.5% {
        left: -200%
    }
    75% {
        left: -300%
    }
    87.5% {
        left: -300%
    }
}

#wowslider-container1 .ws_shadow {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: -1;
    left: -2.34%;
    top: -4.17%;
    width: 104.68%;
    height: 120.83%;
}

* html #wowslider-container1 .ws_shadow { /*ie6*/
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='engine1/bg.png', sizingMethod='scale');
}

* + html #wowslider-container1 .ws_shadow { /*ie7*/
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='engine1/bg.png', sizingMethod='scale');
}

#wowslider-container1 .ws_bullets a img {
    text-indent: 0;
    display: block;
    bottom: 15px;
    left: -43px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
    max-width: none;
}

#wowslider-container1 .ws_bullets a:hover img {
    visibility: visible;
}

#wowslider-container1 .ws_bulframe div div {
    height: 48px;
    overflow: visible;
    position: relative;
}

#wowslider-container1 .ws_bulframe div {
    left: 0;
    overflow: hidden;
    position: relative;
    width: 85px;
    background-color: #FFFFFF;
}

#wowslider-container1 .ws_bullets .ws_bulframe {
    display: none;
    bottom: 15px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}

#wowslider-container1 .ws_bulframe span {
    display: block;
    position: absolute;
    bottom: -11px;
    margin-left: -9px;
    left: 43px;
    background: url(triangle.png);
    width: 15px;
    height: 6px;
}

#wowslider-container1 .ws_bulframe div div {
    height: auto;
}

@media all and (max-width: 760px) {
    #wowslider-container1 .ws_fullscreen {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    #wowslider-container1 a.ws_prev, #wowslider-container1 a.ws_next {
        top: calc(50% - 30px);
        padding: 5px;
        line-height: 300%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 1280px) {
    #wowslider-container1 a.ws_prev, #wowslider-container1 a.ws_next {
        top: calc(50% - 50px);
        padding: 8px;
        line-height: 400%;
    }
}

@media only screen and (min-width: 1281px) {
    #wowslider-container1 a.ws_prev, #wowslider-container1 a.ws_next {
        top: calc(50% - 50px);
        padding: 12px;
        line-height: 550%;
    }
}

#wowslider-container1 a.ws_prev {
    border-radius: 0 3px 3px 0;
}

#wowslider-container1 a.ws_next {
    border-radius: 3px 0px 0px 3px;
}

