hybris/build-tools
installer
hybris/licenses
hybris/data
hybris/log
hybris/roles
hybris/temp
hybris/bin/ext-*
hybris/bin/platform
*.class
.DS\_Store
*.iws

**/gensrc

hybris-dependencies
hybris-ems
hybris-Mobile-Apps-SDK
hybris-oms
hybris-sbg
licenses
workspace
c4c-integration
hybris/config/solr/embedded/solr.xml
hybris/config/local.properties
hybris/bin/custom/**/bin
hybris/bin/custom/**/classes
hybris/bin/custom/**/eclipsebin
hybris/bin/custom/**/gensrc
hybris/bin/custom/**/testclasses
hybris/bin/custom/**/doc
hybris/bin/custom/**/extensioninfo.xsd
hybris/bin/custom/**/platformhome.properties
hybris/bin/custom/**/build.xml
hybris/bin/custom/**/resources/items.xsd
hybris/bin/custom/**/resources/beans.xsd
hybris/bin/custom/**/resources/**/*-testclasses.xml
hybris/bin/custom/**/resources/*/*-testclasses.xml
hybris/bin/custom/**/resources/*/*-webtestclasses.xml
hybris/bin/custom/**/hmc/bin
hybris/bin/custom/**/hmc/classes
hybris/bin/custom/**/hmc/resources/hmc.xsd
hybris/bin/custom/**/web/addonsrc
hybris/bin/custom/**/web/testsrc
hybris/bin/custom/**/web/testclasses
hybris/bin/custom/**/web/webroot/_ui/addons
hybris/bin/custom/**/web/webroot/_ui/desktop/SABMiller/img/icons
hybris/bin/custom/**/web/webroot/_ui/desktop/SABMiller/js/libs/respond.min.js
hybris/bin/custom/**/web/webroot/_ui/desktop/SABMiller/js/libs/jquery.min.js
hybris/bin/custom/**/web/webroot/WEB-INF/classes
hybris/bin/custom/**/web/webroot/WEB-INF/messages/addons
hybris/bin/custom/**/web/webroot/WEB-INF/tags/addons
hybris/bin/custom/**/web/webroot/WEB-INF/tld/addons
hybris/bin/custom/**/web/webroot/WEB-INF/views/addons
hybris/bin/custom/**/web/webroot/cmscockpit
hybris/bin/custom/**/web/webroot/cockpit
hybris/bin/custom/**/web/commonwebsrc
.idea/misc.xml
.idea/workspace.xml
dummy.txt
hybris/bin/custom/sabm/sabmstorefront/web/webroot/WEB-INF/_ui-src/SABMiller/node_modules
hybris/config/solr/instances/default/hsperfdata_mingyu.yuan
.metadata
hybris/bin/custom/sabm/sabmstorefront/node_modules
RemoteSystemsTempFiles
build-tools/
idea-module-files/
ws/
.idea/
hybris/config/solr/instances/default/hsperfdata_faircg/9908
hybris4intellij.properties
hybris/**/.classpath
node_modules
.vscode
.vscrof

/hybris/bin/custom/apbstorefront/resources/wro_addons.xml
/hybris/bin/custom/apbstorefront/web/webroot/_ui/responsive/common/js-sga
/hybris/bin/custom/apbstorefront/web/webroot/productcockpit
/hybris/bin/custom/apbstorefront/web/webroot/WEB-INF/_ui-src/addons/
/hybris/bin/custom/apbstorefront/web/webroot/WEB-INF/lib/addon-captchaaddon-json-taglib-0.4.1.jar
/hybris/bin/custom/apbstorefront/web/webroot/WEB-INF/lib/javax.servlet.jsp.jstl-1.2.5.jar
/hybris/bin/custom/apbstorefront/web/webroot/WEB-INF/lib/jsoup-1.11.3.jar
/hybris/bin/custom/asahistaffstorefront/web/webroot/_ui/responsive

/hybris/bin/custom/asahistaffstorefront/web/webroot/_ui/responsive/common
/hybris/bin/custom/asahistaffstorefront/web/webroot/WEB-INF/_ui-src/responsive/lib/ybase-0.1.0
