@charset "UTF-8";

// ==========================================================================
//   Imports
// ==========================================================================

// Core Bootstrap variables and mixins
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

@import "vars";
@import "mixins";

// Reset and dependencies
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Bootstrap Components
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Bootstrap Components w/ JavaScript
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Bootstrap Utility classes
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

// Plugins
@import "plugins/magnific-popup";
@import "plugins/bootstrap-datepicker";
@import "plugins/footable-core";
@import "plugins/switchery";
@import "plugins/jquery.ui.autocomplete-1.8.18";


// Src
@import "core/svg";
@import "core/base";
@import "core/IEFix";
@import "core/header";
@import "core/footer";
@import "core/product-detail";
@import "core/breadcrumbs";
@import "core/type";
@import "core/tables";
@import "core/deals";
@import "core/buttons";
@import "core/icons";
@import "core/checkboxes";
@import "core/forms";
@import "core/back-to-top";
@import "core/login";
@import "core/navigation";
@import "core/customizedcomponent";
@import "core/lists";
@import "core/order";
@import "core/badges";
@import "core/utils";
@import "core/animations";
@import "core/modals";
@import "core/utils";
@import "core/bdePortal";


/* ===== yeoman styles-hook do-not-remove ===== */
