// Animations

@keyframes slideUp {
	0%   {
		max-height:600px;
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
 	100%  {
 		max-height:0px;
 		opacity: 0;
 	}
}

@keyframes slideDown {
		0%   {
			max-height:0px;
			opacity: 0;
		}
		80% {
			opacity: 0;
		}
	 	100%  {
	 		max-height:600px;
	 		opacity: 1;
	 	}
}

@keyframes fadeIn {
	0%   {
		opacity: 0;
	}
 	100%  {
 		opacity: 1;
 	}
}

@keyframes fadeOut {
		0%   {
			opacity: 1;
		}
	 	100%  {
	 		opacity: 0;
	 	}
}

@keyframes dealsPop {
		0%   {
			transform: scale(0);
		}
		50% {
			transform: scale(1.2);
		}
	 	100%  {
	 		transform: scale(1);
	 	}
}

@keyframes spin {
	 	100% {
	 		transform: rotate(360deg);
	 	}
}