.badge {
  border-radius: 50%;
  color: $white;
  text-align: center;
  font-size: $font-x-small;
  background-color: transparent;
  &:empty {
    display: block;
  }
  &.badge-xsm {
    width: 30px;
    height: 30px;
    line-height: $line-height-medium;
  }
  &.badge-sm {
    height: 45px;
    line-height: 40px;
  }
  &.badge-med {
    height: 45px;
    line-height: 40px;
    width: 45px;
    font-size: 12px;
  }
  &.badge-small {
    height: 25px;
    line-height: 20px;
    width: 25px;
    font-size: 7px;
    padding: 2px;
  }
  &.badge-md {
    width: 65px;
    height: 65px;
    line-height: 60px;
  }
  &.badge-red {
    background-color: $red;
  }
  &.badge-green {
    background-color: #01B04f;
  }
  &.badge-past {
    background-color: $past-item;
  }
  &.badge-current {
    background-color: $current-item;
  }
  &.badge-future {
    background-color: $future-item;
  }
  &.badge-oranage {
    background-color: $orange;
  }
  &.badge-postion {
    position: absolute;
    top: 0;
    right: 5px;
  }
}
