// ==========================================================================
//   Filter class
// ==========================================================================
.list-filter {
	display: none;
	padding-top: 20px;
	@media(min-width: $desktop) {
		display: block;
		padding-top: 0;
	}
	a, div {
		text-decoration: none;
		&.moreFacetValues{
			border-bottom: 1px solid transparent;
			display: inline-block;
			line-height: 14px;
			font-size: $font-x-small;
			&:hover, &:focus {
				border-color: $dark-grey;
				cursor: pointer;
			}
		}
	}
	.applied-facets {
		ul {
			margin-bottom: 0;
		}
	}
	.panel-group {
		margin-bottom: 0;
		&:last-child {
				border-bottom: 2px solid $primary-blue;
			}
		}
	.more {
		display: none;
	}
	.facet_block {
		.filter-selected {
			background-color: $light-grey;
			border: 1px solid $medium-grey;
			padding: 10px 0 10px 15px;
			position: relative;
			font-size: $font-x-small;
			margin-bottom: $spacing-x-small;
			width: 100%;
			background-size: 8px;
			background-position: 92% 50%;
			a {
				position: relative;
				z-index: 2;
			}
			&:after {
				content: "";
				width: 10px;
				height: 10px;
				right: $spacing-x-small;
				position: absolute;
				top: 16px;
				z-index: 0;
				background-image: url($close-icon);				
				background-repeat:no-repeat;
				background-position:0 0;
			}
			&:last-child {
				margin-bottom: $spacing-small;
			}
		}
		li {
			margin-bottom: 15px;
			form {
				margin-bottom: 0;
				.facet-check {
					z-index: 2;
					margin-left: 0;
					opacity: 0;
					display: block;
					&:hover {
						cursor: pointer;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.filter-clear {
		background-color: $white;
		border: 1px solid $primary-blue;
		color: $primary-blue;
		text-transform: uppercase;
		padding: 10px 15px;
		font-weight: bold;
		margin-bottom: $spacing-small;
    &:hover {
      cursor: pointer;
    }
	}


	.panel-default {
		box-shadow: none;
		.facet_block {
			label {
				width: 100%;
				font-weight: normal;
				padding-right: 30px;
				padding-left: 30px;
				&:hover {
					cursor: default;
				}
				&:before {
					top: 3px;
					width: 13px;
					height: 13px;
				}
			}
		}
		& > .panel-heading {
			background-color: $white;
			border-top: 2px solid $primary-blue;
			position: relative;
			padding: 15px 0 15px 10px;
			color: $primary-blue;
			font-weight: bold;
			.panel-title {
				position: relative;
				z-index: 2;
				font-size: inherit;
			}
			a {
				width: 100%;
				display: inline-block;
				&:hover,
				&:focus {
					color: inherit;
				}
			}
		}
	}


	.checkbox input[type=checkbox]:checked + label:before {
	    background-size: 13px;
	    background: url($tick-icon) 50% 50% no-repeat;
	}

	.panel-body {
		padding-left: 10px;
		padding-right: 10px;
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
			position: relative;
			a {
				color: inherit;
				width: 100%;
				height: 100%;
				display: block;
			}
			span {
				position: absolute;
				right: 0;
				top: -1px;
			}
		}
	}

	.list-item {
		.list-item-title {
			height: 80px;
			h3 {
				margin-bottom: 0;
			}
		}
	}
}