// ==========================================================================
//   Icons
// ==========================================================================


[class*="icon-"] {
    display: inline-block;
    background-size: contain;
}

.slds-icon_container[class*=icon-] {
    display: inline;
}

i svg {
	max-width: 100%;
	max-height: 100%;
}

.icon-text-offset{
	margin-right: $spacing-x-small;
	svg{
		vertical-align: baseline;
	}
}

.icon-text-offset-left{
	margin-left: $spacing-x-small;
}

.icon-v-center{
  position: absolute;
  top:0;
  bottom: 0;
  right:$spacing-gutter;
  margin: auto;
}

.icon-inline{
  width:12px!important;
  height:12px!important;
  margin-top:4px!important;
}
.icon-search{
  &.icon-search-small{
    color: $dark-grey;
    width:14px;
    height:14px;
    margin-top: 5px;
  }
}

@mixin icon-hamburger($color, $size) {
  width: $size;
  height: 2px;
  display: inline-block;
  background-color: $color;
  position: relative;
  top: -10px;
  &:before, &:after {
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    position: absolute;
    left: 0;
  }
  &:before {
    top: 6px;
  }
  &:after {
    top: 12px;
  }
}


@mixin overlay($bgColor, $position){
  position: $position;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: $bgColor;
  z-index:1000;
}