.information-smallbox-component {
  background: $white;
  border: 1px solid $medium-grey;
  display: table;
  margin: $double-spacing-unit auto;
  width: 100%;
  .panel-heading {
    border: 0;
    color: $primary-blue-new;
    display: table;
    font-size: $font-large;
    font-weight: bold;
    line-height: $line-height-large;
    margin: 0;
    padding: $spacing-unit-base*1.75 $spacing-unit-base $spacing-unit-base*.5 $spacing-unit-base*4.75;
    position: relative;
    width: 100%;
    @media (min-width: $tablet) {
      padding-right: $spacing-unit-base*1.5;
      padding-left: $spacing-unit-base*5.5;
    }
    img {
      position: absolute;
      left: $spacing-unit-base*.75;
      top: $spacing-unit-base;
      width: $spacing-unit-base*3;
      @media (min-width: $tablet) {
        left: $spacing-unit-base*1.5;
      }
    }
  }
  .panel-body {
    font-size: $font-medium;
    padding: $spacing-unit-base $spacing-unit-base $spacing-unit-base*1.5;
    position: relative;
    @media (min-width: $tablet) {
      padding: $spacing-unit-base $spacing-unit-base*1.5 $spacing-unit-base*1.5;
    }
    p {
      color: $medium-dark-grey;
      font-size: $font-medium;
      margin-bottom: $spacing-unit-base*.75;
    }
    a {
      color: $primary-blue-new;
      text-decoration: underline;
      &:hover, &:focus {
        color: $lighter-dark-grey;
        text-decoration: none;
      }
    }
    .btn {
      height: $btn-x-small*2;
      line-height: $btn-x-small*2;
      margin-top: $spacing-unit-base;
      @media (min-width: $tablet) {
        float: right;
        margin: $spacing-unit-base*.5 0 0 $spacing-unit-base;
        padding: 0 $btn-x-small*2;
      }
      &.btn-primary {
        background: $white;
        border: 1px solid $primary-blue-new;
        color: $primary-blue-new;
        &:hover, &:focus {
          background: $secondary-blue-hover;
          border-color: $secondary-blue-hover;
          color: $white;
        }
      }
    }
    ul, ol, .list-group {
      display: table;
      margin: 0;
      &:not(.with-links) {
        li, .list-group-item {
          color: $medium-dark-grey;
          &:before {
            background: currentColor;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 8px;
            margin: 0 15px 2px 0;
            width: 8px;
          }
        }
      }
      li, .list-group-item {
        background: none;
        border: 0;
        color: $primary-blue-new;
        padding: $spacing-unit-base*.5 0;
        position: relative;
        a {
          background: transparent url($arrow-right-links-blue) no-repeat 98% 50%;
          color: $primary-blue-new;
          display: block;
          font-weight: 500;
          padding-right: $spacing-unit-base*2;
          transition: all .2s $easing;
          &:hover, &:focus {
            background-position: 100% 50%;
            color: $lighter-dark-grey;
          }
        }
      }
    }
  }
}
