// ==========================================================================
//   Login Styles
// ==========================================================================

.page-login {
	@media (min-width: $desktop){
		.checkbox {
			margin-bottom: 20px;
		}
		.row.relative {
			display: flex;
			flex-direction: row;
			& > div {
				align-self: center;
			}
			> div.smartEditComponent {
				float: left;
				position: relative;
				min-height: 1px;
				left: 40%;
				width: 33.33%;
				div{
					width: 100%;
				}
			}
		}
	}
}

.terms-link{
  font-size: $font-medium;
  @media (min-width: $desktop) {
    font-size: $font-small;
  }
}

.links-list {
	margin-top:$spacing-small;
	span {
		display: block;
		margin-bottom: 2px;
	}
	a {
		color: $dark-grey;
		border-bottom: 1px solid $dark-grey;
		margin-bottom: 5px;
		display: inline-block;
		&:hover,
		&:focus {
			border-bottom: 1px solid transparent;
		}
	}
	@media (min-width: $desktop){
		a {
			margin-bottom: 0;
		}
	}
}


.login-features {
	margin-top: $spacing-large;
	padding:$spacing-large 0 $spacing-x-large 0;
	position: static;
	.login-banner {
		padding-left: 0;
		.disp-img {
			list-style: none;
			margin-bottom: $spacing-small;
			float: left;
			width: 25%;
			text-align: center;
			clear:none;
			.thumb {
				width: 100%;
			}
			.thumb img {
				width: 50px;
				height: 50px;
				display: inline-block;
			}
			.details p {
				display: none;
			}
			.title {
				display: none;
			}
			.action {
				display: none;
			}
		}
	}
	@media (min-width: $desktop){
		border-right: 1px solid $medium-grey;
		position: relative;
		// top: 50%;
		// left: 0;
		// transform: translateY(-50%);
		margin-top: 0;
		.login-banner {
			padding-left: $spacing-gutter;
			.disp-img {
				width: 100%;
				height: 30px;
				margin-bottom: $spacing-small;
				text-align: left;
				float: none;
				display: table;
				.thumb {
					width: 15%;
					display: table-cell;
				}
				.thumb img {
					margin-right: $spacing-small;
					width: 50px;
					height: 50px;
				}
				.details {
					width: 85%;
					display: table-cell;
					vertical-align: middle;
					height: 100%;
				}
				.details p {
					display: inline-block;
					font-size: $font-medium;
					word-wrap:break-word;
					margin-bottom: 0;
				}
				.title {
					display: none;
				}
				.action {
					display: none;
				}
			}
		}
	}
}
.forgotmail-p {
  white-space: nowrap;
}
.forgotpwd-features {
  
  position: relative;
  margin-top: 0;
  @media (min-width: $desktop){
    border-right: 1px solid #d6d6d6;
  }
  .password-instructions {
    ul {
      padding-top: 9px;
    }
  }
}


.popover-loginattempt {
    background-color: #f5f5f5;
    left: 46% !important;
    border: 2px solid #FFABAB !important;
    z-index: 1059 !important;
}
.popover-loginattempt-content {
    padding: 0px 2px !important;
}

.popover-loginattempt.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #FFABAB !important;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}

.popover-loginattempt.bottom>.arrow:after {
    top:4px;
    border-bottom-color: #f7f7f7;
}
.popover-loginattempt.bottom>.arrow {
    margin-left:-5px;
    border-bottom-color: #000;
    margin-top:0px;
}
.popover-loginattempt>.arrow {
    border-width: 9px;
}

.popover-loginattempt-content p{
    color: #FF4444 !important;
    font-size: 10px;
}
.popover-loginattempt-content a{
    color: #FF4444 !important;
    font-size: 10px;
    text-decoration: underline;
}


.login-right-title h1{
	margin-bottom: 10px;
}
