// ==========================================================================
//  Homepage slideshow
// ==========================================================================

.home-slider{
	position: relative;
	// margin-left: -15px;
 //    margin-right: -15px;
	margin-bottom: 60px;
	@media (min-width: $tablet){
		margin-left:0;
		margin-right:0;
	}
	@media (min-width: $desktop){
		margin-bottom: 40px;
	}
	.slider-nav{
		li{
			height:32px;
			@media (min-width: $tablet){
				height: 33px;
				width: 33px;
				svg {
					top: 3px;
				}
			}
		}
	}
	.slick-video-mobile {
		position: absolute;
		top: 0;
		left: 0;
	}
	.slider-nav-wrap{
		position: absolute;
		right: 0;
		bottom: -31px;
		@media (min-width: $tablet){
			bottom: 44px;
			&.tablet-pos-adjust{
				bottom: 0;
			}
		}
		@media (min-width: $desktop){
			bottom:0;
			right:0;
			z-index:10;
		}
	}
	.slick-dots{
		background:white;
		border:1px solid #ccc;
		bottom: -41px;
		@media (min-width: $tablet){
			bottom: 35px;
			border:0;
			background-color: transparent;
			&.tablet-pos-adjust{
				bottom:-10px;
			}
		}
		@media (min-width: $desktop){
			bottom: -10px;
		}
		button{
			width:8px;
			height:8px;
			background:$primary-blue;
			border-radius: 50%;
			@media (min-width: $tablet){
				background:white;
			}
		}
		li{
			opacity:0.5;
			width: 10px;
		}
		.slick-active{
			opacity:1;
		}
	}
}

.banner-buttons {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	.btn-0 & {
    	display: none;
    }

	@media(min-width: $desktop) {
		position: absolute;
		width: 710px;
		height: 100px;
		padding: 30px;
		bottom: 0;
		left: 0;
		&.banner-buttons--is-left-false {
			left: auto;
			right: 0;
		}
	}
}

.banner-button {
	display: inline-block;
	width: 100%;
	height: 60px;
	color: #fff;
	background-color: $primary-blue;
	text-align: center;
	line-height: 60px;
	font-size: $font-medium;
    font-weight: bold;
    &:hover, &:focus {
    	color: $white;
    }
    &:last-child {
    	background-color: red;
    }
    @media(min-width: $tablet) {
    	.btn-1 & {
    		width: 100%;
    	}
    	.btn-2 & {
    		width: 50%;
    	}
    	float: left;
    	height: 40px;
    	line-height: 40px;
    }
	@media(max-width: $desktop - 1) {
		.btn-1 &, .btn-2 &  {
			left: 0 !important;
			top: 0 !important;
		}
	}
    @media(min-width: $desktop) {
    	.btn-1 &, .btn-2 &  {
    		width: auto;
    	}
    	width: auto;
    	padding: 0 20px;
    	&:first-child {
    		margin-right: 10px;
    	}
    }
}
