.order-details{

	.textlink{
		border-bottom:1px solid #888;
	}


	.list-inline{
		margin-top:3%;
		
		li{
			line-height:3em;
		}
	}
	
	.btn-track-your-delivery{
		
	}
	
	.cart-deliverymethod{
		border-left:1px solid #eee;
		border-right:1px solid #eee;
	}
	
}