// ==========================================================================
//   Product Picks Classes
// ==========================================================================
.product-picks{
	margin-top: $spacing-medium;
	.product-picks-title{
		@media (min-width: $tablet){
			margin-bottom: $spacing-large;
		}
	}
}

.product-pick{
	margin-bottom: $spacing-large;

  .list-item-img{
    position: relative;
  }

  .badge{
    position: absolute;
    top: 0;
    right: 0;
  }

	.product-pick-title{
		font-size:$font-medium;
		margin-bottom: 0;

		a{

			//Styles for all
			color:$primary-blue;
			text-decoration: none;
			word-wrap: break-word;
			display: block;

			//Hover for all
			&:hover{
				border-bottom: 1px solid $primary-blue;
			}

			//Tablet up styles
			@media (min-width: $tablet){
				height:40px;
				overflow:hidden;
			}
		}
	}
	.product-pick-description{
		margin-bottom: $spacing-medium;
		h3 {
			margin-bottom: 5px;
			@media(min-width: $tablet){
				min-height: 40px;
			}
		}
		@media (min-width: $tablet){
			margin-bottom: 0;
			//min-height: 65px;
		}
	}

	.product-pick-selectors{
		margin-bottom: $spacing-x-small;
	}

	.product-pick-image,
	.list-item-img{
		text-align: center;
    position: relative;
		// margin: $spacing-small auto $spacing-small auto;
		padding: $spacing-small;
		@media (min-width: $tablet){
			text-align: left;
			// margin: $spacing-small 0 $spacing-small 0;
		}
	}

	.product-item-price{
		.h1{
			margin-bottom: 5px;
		}
		
		.list-item-price {
				color: $dark-grey;
				height:$line-height-xxx-large;
				margin-bottom: 20px;
		}
		.list-item-saving {
				color: $red;
				font-size: $font-medium;
				line-height: $line-height-medium;
				font-weight: bold;
				margin-top: 2px;
		}
	}

	p{
		font-size:$font-small;
		color:$primary-blue;
	}
}
