.confirmation-page-component {
  background: $faded-blue-new;
  bottom: 0;
  left: 0;
  padding: 0 $spacing-unit-base*2;
  position: absolute;
  right: 0;
  top: 0;
  > div {
    background: $white;
    border-radius: $spacing-unit-base*.5;
    margin-top: $spacing-unit-base*3.5;
    margin-bottom: $spacing-unit-base*3.5;
    max-width: 750px;
    padding: $spacing-unit-base*3;
    p {
      font-size: $font-medium;
      &.highlight {
        color: $medium-dark-grey;
        font-size: $font-medium-x;
      }
      @media (min-width: $tablet) {
        padding: 0 $btn-x-small*2;
      }
    }
    h2 + p {
      margin-bottom: $spacing-unit-base*2;
    }
    strong {
      font-weight: 500;
    }
    .btn {
      height: $btn-x-small*2;
      line-height: $btn-x-small*2;
      padding: 0 $btn-x-small*2;
    }
  }
}
