// ==========================================================================
//   Templates Order Classes
// ==========================================================================
.template-actions{
	position:relative;
	a, .btn {
		display: inline-block;
		margin-bottom: 10px;
	}
	.notActive{
		pointer-events: none;
		cursor: not-allowed;
	}
	@media(min-width:$mobile){
		margin-bottom: 0;
		.inline {
			margin-top: 10px;
		}
		.template-actions-btns {
			float: right;
		}
	}
	@media(min-width:$tablet){
		.btn-primary {
			margin-left: 10px;
		}
	}
}


.templates-order-table{
	//margin:$spacing-medium 15px $spacing-large;
  margin:$spacing-medium 0 $spacing-large;
	line-height:$line-height-x-large;
	.table-header{
		background-color:$light-grey;
	}
	.titles{
		word-break: break-word;
	}

	.table-row{
		border-bottom:1px solid $medium-grey;
		//padding:$spacing-x-small 0 22px;
    padding:$spacing-x-small 0;
		@media(min-width:$tablet){
			padding-bottom: 10px;
		}
		@media(min-width:$desktop){
			padding-bottom: 13px;
		}
		.action-edit{
			text-align: right;
			@media(min-width:$tablet){
				text-align:center;
			}
			a{
				color:$primary-blue;
				&:hover{
					border-bottom: 1px solid $dark-grey;
				}
			}
		}

		a{
			&:hover{
				cursor:pointer;
			}
			&.title:hover{
				border-bottom: 1px solid $dark-grey;
			}

			&.disabled{
				i {
					opacity: 0.2;
				}
				&:hover{
					cursor:default;
				}
			}

		}
		ul {
			margin-bottom: 0;
		}
		.product-title{
			span{
				display:block;
				line-height:20px;
			}
		}
	}
}

.editable-field-container{
	margin-bottom:40px;

	.glyphicon-pencil{
		line-height: 40px;
		color:$primary-blue;
	}
	.full-width {
		width: 90%;
		float: left;
	}
	.glyphicon-pencil {
		padding-left: 10px;
		float: right;
	}
	@media(min-width:$tablet){
		.full-width {
			width: 50%;
			float: left;
		}
		.glyphicon-pencil {
			float: left;
		}
	}
}

.editable-field{
    box-sizing: border-box;
	transition: box-shadow 150ms ease-in 0ms;
    border-radius: 0px;
    cursor: text;
    display: inline-block;
    max-width: 90%;
    box-shadow: 0 0 0 0 transparent;
    position: relative;
    vertical-align: top;
    padding: 2px 10px 2px 5px;
    float: left;
    &:hover{
    	border:1px solid $medium-grey;
    	padding: 1px 9px 1px 4px;
    }
    @media(min-width:$tablet){
    	.glyphicon-pencil {
    		float: left;
    	}
    }
}

.editable-field-inline{
	// display:inline;
	h1{
		margin-bottom: 0;
	}
}

.iconfont-edit{
	&:before{
		content: "\f210";
	}
}

// Save to template popup - PDP
.save-to-template{
	.scroller {
		.table-row {
			border-bottom: 0 none;
			padding-top: 0;
		}
		@media(min-width:$tablet){
			padding-right: 15px;
			margin-right: -15px;
			.table-row {
				padding-top: 10px;
			}
		}
	}
	@media(max-width:$mobile-max){
		padding:15px;
	}
}

.template-order-popup .form-group{
	button{
		margin-bottom:$spacing-small;
		margin-top:$spacing-small;
	}
	@media(min-width:$tablet){
		input{
			width:248px;
		}
	}

	a{
		display: inline;
		border-bottom: 1px solid $dark-grey;
	}
}

.icon-ranking-up, .icon-ranking-down{
	height:$line-height-small;
	width:$line-height-small;
	fill: $primary-blue;
}

.disabled{
  .icon-ranking-up, .icon-ranking-down{
    opacity:0.3;
  }
}

.icon-align-middle
	{
		// vertical-align: middle;
		// float:left;
		// line-height: 35px;

    	//display: inline-block;
		position: relative;
		right: 0;
		float: right;
		padding: 0;
		z-index: inherit;
		margin: 0;
		vertical-align: middle;
		bottom: 0;
		top: 100%;
	}

.min-stock-format {
	line-height: 21px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.min-stock-textfield-format {
	margin-left: 13px;
	width: 50px;
	text-align: center;
}

//Margin
.margin-bottom-0 {
	margin-bottom: 0;
}

//Position
.position-absolute
{
	position: absolute;
}

//Padding
.padding-right-35 {
	padding-right: 35px;
}

.padding-right-5{
	padding-right: 5px;
}

.padding-left-5{
	padding-left: 5px;
}



//Display
.remove-icon-center{
	display: flex;
  svg {
    width: 16px;
    height: 16px;
  }
}


 .drag-and-drop {
 margin-top: 20px;

  .text{
   margin-left: 10px;
  }
 }

 //Suggested Qty
 .suggested-qty {
   line-height: 16px;
   padding-left: 15px;
   padding-top: 2px;

   span {
     margin-right: 5px;
   }

  .icon-price-info {
		background-image: url('../img/svg/price-info.svg');
		height: 15px;
		width: 15px;
		vertical-align: middle;
	}
 }
